* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Bricolage Grotesque", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;

    min-width: 300px;
}

:root {
    --primary-color: #e57708;
    --secondary-color: #fd9800;
    --ternary-color: #e08019;
    --contrast-color: #c4c5c5;
    --contrast-color-light: #fff;
    --contrast-color-dark: #000;
}

header{
    width: 100%;
    padding: 1rem;
    background-color: var(--contrast-color-dark);

    display: flex;
    flex-wrap: wrap; 

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-list{
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: var(--contrast-color-light);
}

.nav-link:hover{
    color: var(--primary-color);
}

#img-logo{
    height: 2rem;
    margin: 0 -2.5rem;
}

#img-logo:hover path {
  fill: #ff0000;
}


#main-container{
    padding-top: 4rem;
    margin-top: 10px;
    width: 100%;
    background-color: var(--contrast-color);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.main{
    min-height: 85vh;
    background-color: var(--contrast-color-light);
    width: 1000px;
    border-radius: 10px;

    display: flex;
    align-items: center;

    margin-bottom: 10px;
    font-size: 1rem;

    scroll-margin-top: 20vh;

    padding: 1rem 0;
}

.main article{
    padding: 0 4rem;
}

.main article button{
    justify-content: center;
    padding: .5rem;
    color: var(--contrast-color-light);
    border-style: none;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.main article button:hover{
    cursor: pointer;
    color: var(--contrast-color-dark);
}

footer{
    width: 100%;
    background-color: var(--contrast-color-dark);
    color: var(--contrast-color-light);
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    z-index: 1;

    font-size: 0.8rem;
}
.main article{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #ff0000; */
}

.main-presentacion-texto{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.main-presentacion-links{
    width: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-content3{
    ul{
        list-style: none;
    }
}

@media (max-width: 1020px) {
    #main-container{
        background-color: var(--contrast-color);
    }

    .main{
        width: 800px;
        padding: 1rem 4rem;
    }
}

@media (max-width: 600px) {
    #main-container{
        background-color: var(--contrast-color);
    }
    .nav-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #main-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        margin-top: 2rem;
    }

    .main{
        width: auto;
        padding: 2rem 1rem;
        margin: 1rem;
        margin-bottom: 1rem;
    }

    .main article{
        padding: 0 1rem;
    }

}

@media (max-width: 380px) {
    #main-container{
        background-color: var(--contrast-color);
    }

    #main-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
    }

    .main{
        padding: 4rem 1rem;
        font-size: 0.8rem;
    }

}

/*
@media (orientation: landscape) {
  
    body { padding-top: 4.25rem; }


    #main-container {
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    
    .main {
        width: 90%;
        margin-bottom: 2rem;
    }

    footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
*/
/*
@media (orientation: landscape) and (min-width: 900px) {

    .main {
        height: auto;
        padding: 1.5rem 1rem;
    }

  
    header {
        padding: 0.75rem 1rem;
    }

    .nav-list {
        gap: 0.75rem;
        font-size: 0.95rem;
    }
}*/